html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: #fff;
}

.game {
	padding: 10px;
}

.tools {
	padding-bottom: 10px;
}

.row {
	clear: both;
}

.cell {
	float: left;
	position: relative;
	outline:1px solid;
	/*
	border: 1px solid #ccc;
	box-sizing: border-box;
	*/
}

.cell:before {
	padding-top: 100%;
    content: '';
    display: block;
}

.booked {
	background: red;
}