html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: #fff;
    font-size: medium
}

.game {
	margin: 0 auto;
}

.tools {
	padding: 10px 10px 0 10px;
}

.row {
	clear: both;
}

.cell {
	float: left;
	position: relative;
	outline:1px solid;
}

.cell:before {
	padding-top: 100%;
    content: '';
    display: block;
}

.food,
.booked {
	background: red;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.gameField {
	border: 5px solid transparent;
	margin: 5px;
}

.moveUp {
	border-top-color: #a53434;
}

.moveRight {
	border-right-color: #a53434;
}

.moveDown {
	border-bottom-color: #a53434;
}

.moveLeft {
	border-left-color: #a53434;
}

.score {
	float: right;
}